name: Build

# build timings
on:
  push:
    branches:
  schedule:
    - cron:  '0 3 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    container: centos:8
    steps:

    # Install
    - name: Install
      run: |
        dnf upgrade -y
        curl https://sh.rustup.rs -sSf | sh -s -- -y
        dnf install -y gcc git

    # Get Files
    - name: Get files
      uses: actions/checkout@v1

    # Build
    - name: Build
      run: /github/home/.cargo/bin/cargo build --verbose

    # Test
    - name: Run tests
      run: /github/home/.cargo/bin/cargo test --verbose

    # Command Test
    - name: GalM Command tests
      run: |
        /github/home/.cargo/bin/cargo build --example galm --release
        bash ./.github/scripts/galm_spec.sh
